.save-button {
  width: 4rem !important;
  height: 4rem !important;
  color: white !important;
  background: $sgv-donkergroen !important;
  border: 1px solid $sgv-donkergroen !important;
  z-index: 999;
  top: 52rem;
  .pi {
    font-size: 1.4rem !important;
  }
}

.info-button {
  cursor: pointer;
  color: $sgv-donkergroen;
}

.delete-button {
  width: 2.5rem !important;
  height: 2.5rem !important;
  color: white !important;
  background: $sgv-rood !important;
  border: 1px solid $sgv-rood !important;
  z-index: 999;
  margin-top: 1px;
}

.send-button {
  width: 4rem !important;
  height: 4rem !important;
  color: white !important;
  background: $sgv-oranje !important;
  border: 1px solid $sgv-oranje !important;
  z-index: 999;
  top: 52rem;
}

.animate {
  animation: glowing 1300ms 3 linear;
}

@keyframes glowing {
  0% {
    background-color: $sgv-donkergroen;
    box-shadow: 0 0 5px $sgv-donkergroen;
  }
  50% {
    background-color: $sgv-lichtgroen;
    box-shadow: 0 0 20px $sgv-lichtgroen;
  }
  100% {
    background-color: $sgv-donkergroen;
    box-shadow: 0 0 5px $sgv-donkergroen;
  }
}

.p-dialog-footer .save-button-dialog {
  background-color: $sgv-donkergroen !important;
  color: white;
  border-color: $sgv-lichtgroen !important;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:enabled:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    border-color: $sgv-lichtgroen !important;
  }
  &:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
}

.p-dialog-footer .cancel-button-dialog {
  background-color: $sgv-rood !important;
  color: white;
  border-color: $sgv-rood !important;
  &:hover {
    border: 1px solid $sgv-rood !important;
    box-shadow: 0 0 0 1px $sgv-rood !important;
    color: white;
  }
  &:active {
    border: 1px solid $sgv-rood !important;
    color: white;
  }
  &:enabled:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    color: white;
    border-color: $sgv-rood !important;
  }
  &:enabled:hover {
    border-color: $sgv-rood !important;
    color: white;
    background-color: $sgv-rood;
  }
}

.add-button {
  background-color: transparent !important;
  color: $sgv-donkergroen !important;
  border: 1px solid;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:focus {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:enabled:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    border-color: $sgv-donkergroen !important;
  }
  &:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
}

.approve-button, .p-confirm-dialog-accept {
  background-color: $sgv-donkergroen !important;
  color: white !important;
  border: 1px solid;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem $sgv-lichtgroen !important;
  }
}



.reject-button, .p-confirm-dialog-reject {
  background-color: $sgv-rood !important;
  color: white !important;
  border: 1px solid;
  &:hover {
    border: 1px solid $sgv-rood !important;
    box-shadow: 0 0 0 1px $sgv-rood !important;
  }
  &:active {
    border: 1px solid $sgv-rood !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem $sgv-lichtrood !important;
  }
}

.remove-button {
  font-size: 2em;
  &:hover {
    border: 1px solid darkred !important;
    box-shadow: 0 0 0 0.5px darkred !important;
  }
}

.export-button {
  font-size: 1.3rem;
  color: white !important;
  background: $sgv-donkergroen !important;
  border: 1px solid $sgv-donkergroen !important;
  z-index: 999;
}

.opslaan-knop {
  background: $sgv-oranje !important;
  border: 1px solid $sgv-oranje !important;
  &:hover {
    border: 1px solid $sgv-oranje !important;
    box-shadow: 0 0 0 1px $sgv-oranje !important;
  }
  &:active {
    border: 1px solid $sgv-oranje !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem $sgv-oranje !important;
  }
  .pi {
    font-size: 1.3rem !important;
  }
}

.algemene-lid-knop {
  background: $sgv-donkergroen !important;
  border: 1px solid $sgv-donkergroen !important;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem $sgv-donkergroen !important;
  }
  .fa {
    font-size: 1.3rem !important;
  }
  .fas {
    font-size: 1.3rem !important;
  }
}

.algemene-knop {
  background: gray !important;
  border: 1px solid gray !important;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem $sgv-donkergroen !important;
  }
  .fa {
    font-size: 1.3rem !important;
  }
  .fas {
    font-size: 1.3rem !important;
  }
}

.custom-knop {
  width: 3rem !important;
  height: 3rem !important;
}

.opslaan-button {
  background-color: $sgv-donkergroen !important;
  color: white;
  border-color: $sgv-lichtgroen !important;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:enabled:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    border-color: $sgv-lichtgroen !important;
  }
  &:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
}

.type-select-button {
  background-color: transparent !important;
  color: $sgv-donkergroen !important;
  border: 1px solid;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:focus {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:enabled:focus {
    border-color: $sgv-donkergroen !important;
  }
  &:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
  &.actief {
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: $sgv-donkergroen;
  background: $sgv-lichtgroen;
  &:hover {
    background: $sgv-donkergroen !important;
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
    background: $sgv-donkergroen !important;
  }
  &:focus {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:enabled:focus {
    border-color: $sgv-donkergroen !important;
  }
  &:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
  &.p-focus {
    box-shadow: 0 0 0 1px $sgv-lichtgroen !important;
    background: $sgv-donkergroen !important;
    border-color: $sgv-donkergroen !important;
  }
}

.p-radiobutton-checked .p-radiobutton-box .p-radiobutton-icon {
  background-color: $sgv-lichtgroen !important;
}

.p-radiobutton .p-radiobutton-box {
  border-color: $sgv-donkergroen;
  &:hover {
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:focus {
    border: 1px solid $sgv-donkergroen !important;
  }
  &:enabled:focus {
    border-color: $sgv-donkergroen !important;
  }
  &:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
}

.cut-off-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  padding-right: 35px !important;
}
