.dashboard-block {
  padding-left: 15em;
  margin-right: 20px;
}

.welkom-titel {
  font-size: 4em;
  font-weight: bold;
}

.content {
  padding-left: 4em !important;
  position: relative;
}


.custom-block {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e5e4e4;
  border-radius: 5px;
  height: 180px;
  padding-right: 20px;
  &:hover {
    background-color: $background-color !important;
    i {
      color: $sgv-lichtgroen;
    }
  }
}

.block-label {
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
}

.menu-icon-block {
  color: #c4c4c4;
  font-size: 5rem !important;
}
