.p-calendar .p-button{
  color: #ffffff;
  background: $sgv-donkergroen;
  border: 1px solid $sgv-donkergroen;
  border-color: $sgv-donkergroen;

  &:hover{
    background-color: $sgv-donkergroen !important;
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:active {
    background-color: $sgv-donkergroen !important;
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:focus {
    background-color: $sgv-donkergroen !important;
    border: 1px solid $sgv-donkergroen !important;
    box-shadow: 0 0 0 1px $sgv-donkergroen !important;
  }
  &:enabled:focus {
    border-color: $sgv-donkergroen !important;
  }
  &:enabled:hover {
    background-color: $sgv-donkergroen !important;
    border: 1px solid $sgv-donkergroen !important;
  }
}
