.filter-item {
  color: $sgv-donkergroen
}

.filter-border {
  border: 1px solid $sgv-lichtgroen !important;
}

.filter-criteria-select-item:hover {
  background-color: $sgv-lichtgroen !important;
  width: 104%;
  margin-left: -8px;
  font-weight: bolder;
}

.subtitle {
  color: $sgv-black;
  font-size: 0.7rem !important;
  margin-top: 6px !important;
  margin-left: 3px !important;
}

.label-width {
  width: max-content;
}
