.filter-item {
  color: $sgv-donkergroen
}

.filter-border {
  border: 1px solid $sgv-lichtgroen !important;
}

.filter-criteria-select-item:hover {
  background-color: $sgv-lichtgroen !important;
  width: 104%;
  margin-left: -8px;
  font-weight: bolder;
}

.subtitle {
  font-size: 0.8rem !important;
}
