.footer {
  background: black;
  display: block;
  position: relative;
  width: 100%;
  bottom: -55px;
  overflow: hidden;
  color: $font-white !important;
  z-index: 190;
}

.footer a {
  color: $font-white;
  box-sizing: border-box;

  &:hover {
    color: $font-white;
    text-decoration: underline;
  }
}

.footer-contact-logo {
  min-width: 75px;
  max-width: 75px;
  height: 110px;
  margin-right: 2em;

  svg {
    fill: $font-white !important;
    margin-top: -1.5rem
  }
}

.footer-partner {
  display: inline-block;
  a {
    img {
      max-width: 140px;
      max-height: 70px;
    }

    .img-fluid.vlaanderen {
      max-width: 160px !important;
      max-height: 91px !important;
    }
  }
}

@media only screen and (max-width: 390px) {
  .footer-contact-logo {
    display: none
  }
}
