@import "./footer";
@import "./github";
@import "./top_menubalk";
@import "./lid";
@import "./datePicker";
@import "./adres";
@import "./input";
@import "./button";
@import "./mail";
@import "./menu";
@import "./loader";
@import "./dashboard";
@import "./functie";
@import "./dialog";
@import "./filter";
@import "./text";

.content {
  min-height: 60vh;
  overflow-x: hidden;
}

.p-card {
  .p-card-content,
  .p-card-title {
    text-align: left;
  }
  .p-card-title {
    color: $sgv-donkergroen;
  }
}
@media only screen and (max-width: 390px) {
  .border-bottom-general {
    border-bottom: 2px solid lightgray;
  }
}

.p-dropdown:hover {
  border-color: $sgv-donkergroen !important;
}

.p-dropdown.p-focus {
  box-shadow: 0 0 0 0.2px $sgv-lichtgroen !important;
  border-color: $sgv-lichtgroen !important;
}

.p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.2rem transparent !important;
  border-color: $sgv-lichtgroen !important;
}
.p-inputtext:enabled:hover {
  border-color: $sgv-donkergroen !important;
}

.p-checkbox .p-checkbox-box.p-highlight {
  box-shadow: 0 0 0 0.2px $sgv-lichtgroen !important;
  border-color: $sgv-lichtgroen !important;
  background: $sgv-lichtgroen !important;
}

.p-checkbox .p-checkbox-box.p-focus {
  box-shadow: 0 0 0 0.2px $sgv-lichtgroen !important;
  border-color: $sgv-lichtgroen !important;
}

.p-checkbox .p-checkbox-box:hover {
  border-color: $sgv-lichtgroen !important;
}

.help-button-wrapper {
  position: absolute;
  margin-top: 2px;
  .help-button {
    cursor: pointer;
    color: $sgv-donkergroen;
  }
}

.p-accordion-header-link:hover {
  text-decoration: none !important;
}
.p-accordion-header-link:focus {
  box-shadow: 0 0 0 0.2rem transparent !important;
  border-color: $sgv-lichtgroen !important;
}

.width-100 {
  width: 100% !important;
}

.width-50 {
  width: 50% !important;
}

.ml--05 {
  margin-left: - 0.5rem !important;
}

.ml--07 {
  margin-left: - 0.7rem !important;
}

.ml--1 {
  margin-left: - 1rem !important;
}

.ml--2 {
  margin-left: - 2rem !important;
}

.mt--05 {
  margin-top: - 0.5rem !important;
}

.mt--08 {
  margin-top: - 0.8rem !important;
}

.mb--25 {
  margin-bottom: -25px !important;
}

.mr--23px {
 margin-right: -23px;
}

.mt09 {
  margin-top: 0.9rem !important;
}

.remove-button-wrapper {
  height: 30px !important;
}

.mr-05 {
  margin-right: 0.5rem !important;
}

.ml-4em {
  margin-left: 4em !important;
}

.clickable {
  cursor: pointer;
}

.custom-input-styling {
  .p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    border-color: $sgv-lichtgroen !important;
  }
  .p-inputtext:enabled:hover {
    border-color: $sgv-donkergroen !important;
  }
}

.underline {
  text-decoration: underline;
}

.mail-link {
  color: $sgv-donkergroen !important;
  &hover {
    text-decoration: underline;
  }
}

.p-splitbutton  {
  .p-button {
    background-color: $sgv-donkergroen;
    border-color: white

  }

  .p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    border-color: $sgv-lichtgroen !important;
  }
  .p-button:enabled:hover {
    border-color: $sgv-donkergroen !important;
    background-color: $sgv-lichtgroen;
  }
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.p-datatable-row-expansion td {
  background-color: $sgv-info !important;
}

.panel-subtitle {
  margin: 0;
  font-size: 12px;
  line-height: 1.6em;
}

.p-dropdown-label {
  text-align: left !important;
}

.padding-left-2-5em {
  padding-left: 2.5em !important;
}

.padding-left-4em {
  padding-left: 4em !important;
}

.padding-left-5em {
  padding-left: 5em !important;
}


.padding-right-5em {
  padding-right: 5em !important;
}

.padding-right-4em {
  padding-right: 4em !important;
}

.padding-top-2em {
  padding-top: 2em !important;
}

.custom-title {
  color: $sgv-donkergroen;
}

.beschrijving a {
  color: $sgv-donkergroen !important;
  &hover {
    text-decoration: underline;
  }
}

.ml-25 {
  margin-left: 0.75rem !important;
}

.clean-link {
  text-decoration: none !important;
  background-color: transparent !important;
}

@media (min-width: 992px) {
  .mr-lg-9,
  .mx-lg-9 {
    margin-right: 5em !important;
  }

  .pl-lg-2-5em {
    padding-left: 2.5em !important;
  }

  .pl-lg-4em {
    padding-left: 4em !important;
  }

  .pl-lg-5em {
    padding-left: 5em !important;
  }


  .pr-lg-5em {
    padding-right: 5em !important;
  }

  .pr-lg-4em {
    padding-right: 4em !important;
  }

  .pt-lg-2em {
    padding-top: 2em !important;
  }
}

.autocomplete-input {
  width: 100% !important;
}

.mt--1 {
 margin-top: -1em !important;
}

.mt--15 {
  margin-top: -1.5em !important;
}

.pl-4em {
  padding-left: 4em !important;
}

.table-checkbox input[type=checkbox] {
  height: 20px !important;
  width:  20px !important;
}

.true-icon {
  color: #00b400;
}

.false-icon {
  color: $sgv-rood
}

@keyframes p-progress-spinner-custom-color {
  100%,
  0% {
    stroke: $sgv-donkergroen !important;
  }
  40% {
    stroke: $sgv-lichtgroen !important;
  }
  66% {
    stroke: $sgv-lichtgroen !important;
  }
  80%,
  90% {
    stroke: $sgv-lichtgroen !important;
  }
}

.p-fileupload-content {
  display: none !important;
}

.p-fileupload-buttonbar {
  background: transparent !important;
  border: 0 solid transparent !important;
  margin-left: -1em !important;
}

.z999 {
  z-index: 999;
}

a.clean-link:hover {
  color: $sgv-lichtgroen !important;
}

@media screen and (min-width: 768px) {
  .md\:w-90 {
    width: 95% !important;
  }
}

.groep-select {
  margin-left: -1.5em;
}

.p-breadcrumb {
  padding: 0 !important;
  border: none !important;
  position: relative !important;
  z-index: 998 !important;
}

.p-card .p-card-title {
  margin-bottom: 0 !important;
}

.p-toast-message-success {
  background: $sgv-donkergroen !important;
  border: solid $sgv-lichtgroen !important;
  border-width: 0 0 0 6px !important;
  color: white !important;
  .p-toast-message-content {
    .p-toast-message-icon {
      color: white !important;
    }
    .p-toast-icon-close {
      color: white !important;
    }
  }
}

.historiek-chart {
  width: 70px !important;
}

.bijlages {
  width: 100px !important;
}

.pictures {
  width: 60px !important;
}

.icon-geig {
  font-size: 1.5rem !important;
}

.margin-top--15 {
  margin-top: -15px !important;
}

.select-kolom-header {
  background-color: $sgv-donkergroen;
  color: white;
  padding-left: 11px;
  margin-left: -8px;
  margin-right: -8px;
  height: auto;
  display: flex;
  align-items: center;
}

.data-placeholder{
  padding-top: 8px;
  padding-bottom: 8px;
  height:14px;
  background-color: rgba(131, 127, 127, 0.26);
  width: 100%;
  border-radius: 10px;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}

.p-column-header-content {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: start;
}

.standard-order-icon {
  width: -webkit-fill-available;
  .fa-caret-down {
    float: right;
  }
  .fa-sort-alpha-down {
    float: right;
  }
}

.p-column-title {
  min-width: fit-content;
}

.icon-large {
  font-size: 1.15rem;
}

.icon-small {
  font-size: 0.85rem;
}

.cut-off-text-table {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.mr-7px {
  margin-right: 7px;
}

.full-width {
  width: -webkit-fill-available;
}

.criteria-label {
  width: 207px !important;
}

.dropdown-height {
  height: 25px !important;
  .p-dropdown-label {
    margin-top: -9px;
  }
}

.margin-left-27px {
  margin-left: 27px !important;
}

.min-height-67vh {
  min-height: 67vh !important;
}

.vw90 {
  width: 90vw;
}

.color-light-green {
  color: $sgv-lichtgroen;
}

.color-dark-green {
  color: $sgv-donkergroen;
}

.font {
  font-family: museo_sans500, Avenir, Helvetica, Arial, sans-serif;
}

.mt--3p {
  .p-checkbox-box {
    margin-top: -3px !important;
  }
}

.width-43-pct {
  width: 43% !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.mt-7em {
  margin-top: 7em;
}

@media screen and (max-width: 992px) {
  .md\:mt-10 {
    margin-top: 10rem !important;
  }
}


@media screen and (max-width: 333px) {
  .sm\:ml--2 {
    margin-left: - 2rem !important;
  }
}
