.p-checkbox-disabled {
  background-color: darkgrey;
  cursor: default;
}

.kolom-select {
  height: 42px;
}

.custom-checkbox {
  margin-top: 10px !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: $sgv-donkergroen !important;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0.2em $sgv-donkergroen !important;
}

.groepseigengegevens label {
  margin-top: 0 !important;
}

.filter-height-select {
  overflow-y: auto;
  max-height: 425px;
}
