.p-checkbox-disabled.p-checkbox .p-checkbox-box.p-highlight {
  background: darkgrey !important;
  cursor: default !important;
  border-color: darkgrey !important;
}

.p-checkbox-disabled {
  background: darkgrey !important;
  cursor: default !important;
  border-color: darkgrey !important;
}

.kolom-select {
  height: 42px;
}

.custom-checkbox {
  margin-top: 10px !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background-color: $sgv-donkergroen !important;
}

.p-inputswitch.p-focus .p-inputswitch-slider {
  box-shadow: 0 0 0.2em $sgv-donkergroen !important;
}

.filter-height-select {
  overflow-y: auto;
  max-height: 425px;
}

