.header_logo_inner {
  top: 0;
  z-index: 999;
  display: flex;
  width: 135px;
  justify-content: center;
  clip-path: polygon(0 0,100% 0,88% 90%,0 100%);
  background-color: $sgv-donkergroen;
  position: fixed;
  height: 180px;
}

.desktop-menu {
  &:hover {
    .header_logo_inner {
      clip-path: none;
      transition: width .4s ease-in-out;
      width: 320px;
      background-color: white;
      border-right: solid 1px #7b8f1c;
    }

    .ga-logo {
      filter: grayscale(1) invert(1);
      left: -17em !important;
      img {
        left: -9em !important
      }
    }
    .menu-wrapper {
      filter: none;
      border-right: solid 1px $sgv-donkergroen;
    }
    .menu {
      overflow: hidden;
      background-color: white;
      border-right: solid 1px #7b8f1c;
      height: 100vh;
      transition: width .42s ease-out;
      width: 333px;
      top: 10.9em;
      padding-top: 3em;
      clip-path: none;
      ul {
        li {
          transition: border-bottom-width 1s;
          border-bottom: solid 1px grey;
        }
      }
    }
  }
}

.menu-wrapper {
  position: fixed;
  filter: drop-shadow(1px -11px 2px rgba(123, 143, 28, 0.3));
  z-index: 99;
}

.menu {
  position: fixed;
  background-color: white;
  left: -0.8em;
  right: 0;
  top: 9.3em;
  padding-top: 3em;
  height: 100vh;
  width: 80px;
  clip-path: polygon(0px -12px, 100.00% 6px, 100% 100%, 0px 100%);
  ul {
    list-style: none;

    li {
      height: 65px;
      display: flex;
      align-items: center;
      border-bottom-width: 0;
    }
  }
}

.ga-logo {
  img {
    left: 15px;
    width: 95px;
    height: 70px;
    object-fit: contain;
    position: absolute;
    margin-top: 3em;
  }
}

.ga-logo-mobile {
  position: absolute;
  height: 130px;
  width: 100%;
  clip-path: polygon(0 130px, 0% 0%, 150px 0%, 132px 80.00%);
  background-color: $sgv-donkergroen;
  img {
    left: 5px;
    width: 95px;
    height: 70px;
    object-fit: contain;
    position: absolute;
    margin-top: 1em;
    background-color: transparent;
  }
}

.menu-item-width {
  width: 300px !important;
}


.menu-item {
  color: $sgv-donkergroen;
  font-size: 1.2rem !important;

  &:hover {
    color: $sgv-lichtgroen;
  }

  .active {
    color: $sgv-lichtgroen;
    span {
      color: $sgv-lichtgroen;
    }
  }
}

.lid-menu-item {
  color: $sgv-black;
  font-size: 1.2rem !important;

  &:hover {
    color: $sgv-lichtgroen;
  }

  .active {
    color: $sgv-lichtgroen;
    span {
      color: $sgv-lichtgroen;
    }
  }
}

.menu-icon {
  position: absolute;
  font-weight: lighter !important;
  font-size: 1.4rem !important;
}

.menu-item-text {
  text-align: left;
  margin-left: 3em;
}

.logout {
  bottom: 0;
}

.top-menu {
  position: relative;
  margin-bottom: 3em;
}

.menu-button {
  position: absolute;
  right: 20px;
  top: 10px;
  border: none;
  height: 4.5em !important;
  width: 4.5em !important;
  &:focus {
    box-shadow: none;
  }
  &:active {
    color: $sgv-lichtgroen;
  }
}


.lid-autocomplete {
  height: 35px;
}

.lid-autocomplete-input {
  width: 298px;
}

.pi-bars {
  font-size: 3rem !important;
}

.p-menu-list li {
  height: 70px !important;
}

.mobile-menu {
  width: 28rem !important;

  ul li .p-menuitem-link{
    font-size: 1.2em;
  }
}

.mobile-menu-button {
  background-color: $sgv-donkergroen !important;
  &:hover {
    color: $sgv-lichtgroen !important;
  }

  .active {
    color: $sgv-lichtgroen !important;

    span {
      color: $sgv-lichtgroen !important;
    }
  }
}

.sub-menu-button {
  margin-right: -30px !important;
  color: $sgv-black !important;
  background-color: transparent !important;
  &:hover {
    color: $sgv-lichtgroen !important;
  }

  .active {
    color: $sgv-lichtgroen !important;

    span {
      color: $sgv-lichtgroen !important;
    }
  }
}

.sub-menu-items {
  border: 2px solid $sgv-lichtgroen !important;
  width: 21rem !important;
  ul li .p-menuitem-link{
    font-size: 1.2em !important;
  }
  .p-menu-list li {
    height: 4rem !important;

  }
}

.width-24 {
  width: 24rem !important;
}
