$font-white: #ffffff;
$github-zwart: #151513;
$sgv-lichtgroen: #c7d121;
$sgv-donkergroen: #7b8f1c;
$sgv-black: #212529;
$sgv-rood: #ED1C23;
$sgv-oranje: #F5821F;
$sgv-info: #f8f9fa;
$background-color: #f4f5d4;

$brand-primary: $sgv-donkergroen;
$brand-warning: $sgv-oranje;
$brand-danger: $sgv-rood;
$brand-success: $sgv-donkergroen;
$brand-info: $sgv-donkergroen;