$font-white: #ffffff;
$github-zwart: #151513;
$sgv-lichtgroen: #bdd732;
$sgv-donkergroen: #7b8f1c;
$sgv-black: #212529;
$sgv-rood: #ED1C23;
$sgv-oranje: #F5821F;

$brand-primary: $sgv-donkergroen;
$brand-warning: $sgv-oranje;
$brand-danger: $sgv-rood;
$brand-success: $sgv-donkergroen;
$brand-info: $sgv-donkergroen;